@import "../../../../core/config/theme.scss";


#panelwidget-reportslist {
	select {
		margin-bottom:10px;
	}

	button {
		.icon {
			background:url(../../../../core/asset/img/icons.png) 4px -208px no-repeat;
			width:22px;
		}
	}

	.reportsList {
		margin-top:10px;

		.actions {
			a {
				background:url(../../../../core/asset/img/icons.png) no-repeat;

				&.save {
					background-position:3px -209px;
				}

				&.rename {
					background-position:3px -148px;
				}

				&.delete {
					background-position:3px -330px;
				}
			}
		}
	}
}