@import "../../../../core/config/theme.scss";



ul#dev-switchback-info {
	background-color:$colorAlert00;
	border:5px dashed #FF0;
	bottom:0;
	padding:7px 20px;
	position:fixed;
	right:0;
	z-index:1000;

	li {
		font-weight:bold;
		color:$white;
		font-size:12px;
		text-align:left;

		&.header {
			text-transform:uppercase;
		}
	}
}

ul#navi-main-list li.itemDev {
	background-color:$colorAlert00;
	float:right;
}

body.devInstallation,
body.devInstallation #main {
	background:url('../img/bodytile.png') repeat !important;
}



div.hookslist {
	width:780px;
	height:800px;
	overflow:scroll;
	text-align:left;
}

