<div>
{Button label="webftp.panelwidget-fileoperation.cut" class="cut" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
{Button label="webftp.panelwidget-fileoperation.copy" class="copy" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
{Button label="webftp.panelwidget-fileoperation.paste" class="paste" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
{Button label="webftp.panelwidget-fileoperation.select" class="select" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
{Button label="webftp.panelwidget-fileoperation.showHistory" class="trackHistory" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
{Button label="webftp.panelwidget-fileoperation.showHistory" class="trackHistory" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
{Button label="webftp.panelwidget-fileoperation.showHistory" class="trackHistory" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
{Button label="webftp.panelwidget-fileoperation.showHistory" class="trackHistory" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
{Button label="webftp.panelwidget-fileoperation.showHistory" class="trackHistory" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
</div>

