@import "../../../../core/config/theme.scss";



/* -------------------------Tabs------------------------- */
#webftp-tabs {
	.icon { background-position: 0 200px; background-image: url(../img/icons.png); }
	.tabkey-icon .icon {
		background-position: 0 -1px;
	}
	.tabkey-list .icon {
		background-position: 0 -544px;
	}
}

/*
*/
