Installed Extensions<br />
====================<br />
<table>
	<tr>
		<th>EXT-ID</th>
		<th>Extension Key</th>
		<th>Version</th>
	</tr>
	{foreach $extensions extID extData}
		<tr>
			<td align="left" style="width:50px">#{$extID} </td>
			<td align="left" style="width:160px">{$extData.extKey}</td>
			<td align="left">{$extData.version}</td>
		</tr>
	{/foreach}
</table>