<strong>Registered Hooks</strong>
<br/><br/>

<div class="hookslist">
	{foreach $extensions extKey extInfos}
		<table style="width:740px; border-top:1px solid #4a4a4a; margin-bottom:12px;">
			{if sizeof($extInfos.hooks) > 0}
			<tr><td colspan="2" style="background-color:#efefef; padding:2px; text-align:center;">
				<strong>{$extKey}</strong>
			</td></tr>
				{foreach $extInfos.hooks hookName callbacks}
					<tr><td style="padding-top:6px"><strong>{$hookName}:</strong></td>
						<td><table>
							{foreach $callbacks callbackData}
								<tr><td>{$callbackData.function}</td></tr>
							{/foreach}
						</table></td>
					</tr>
					<tr><td colspan="2" style="border-bottom:1px solid #bdbdbd;"></td></tr>
				{/foreach}
			{/if}
		</table>
	{/foreach}
</div>