<ul id="dev-switchback-info">
	<li class="header">Dev Switchback Info</li>
	<li>Current: {$currentName}</li>
	<li>Roles: {$currentRoles}</li>
	<li>Admin: {if $isAdmin}Yes{else}No{/if}</li>
	<li><a href="javascript:Todoyu.Ext.dev.switchBack()" title="{Label dev.ext.headlet.info.switchBack.button}">Real: {$realName}</a></li>
</ul>